<!DOCTYPE html>
<html lang="en">
 
 <head>
    <title>EatWell</title>

    <script src="../static/js/jquery.min.js"></script>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
   
  </head>
 
<body>
 
   <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/logout">Sign Out</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">EatWell</h3>
    </div>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    <div><h2>{{ item[0].name }}</h2></div>

    <div>
        <h3>Ingredients</h3>
          <table class="table table-bordered">
           <tr> 
                <th>Name</th>
            </tr>
        {% for i in ingredients %}
            <tr> 
                <td>{{ i.name.title() }}</td>
            </tr>
        {% endfor %}
        </table>     

         <h3>Badges</h3>
          <table class="table table-bordered">
           <tr> 
                <th>Name</th>
            </tr>
        {% for b in badges %}
            <tr> 
                <td>{{ b.name.title() }}</td>
            </tr>
        {% endfor %}
        </table>     
    </div>


        
       
    
 
 
        <footer class="footer">
        </footer>
    </div>
</body>
 
</html>