<!DOCTYPE html>
<html lang="en">
 
 <head>
    <title>EatWell</title>

    <script src="../static/js/jquery.min.js"></script>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
   
  </head>
 
<body>
 
   <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/logout">Sign Out</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">EatWell</h3>
      </div>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

        <table class="table">
            <tr>
                <td><a class="btn btn-md btn-primary btn-block" href="/newitem">New Food Item</a></td>
                <td><a class="btn btn-md btn-primary btn-block" href="/newsymptom">New Symptom</a></td>
            </tr>
        </table>

        <div>
            <h3>Food History</h3>
              <table class="table table-bordered">
               <tr> 
                    <th>Name</th>
                    <th>When</th>
                    <th>Options</th>
                </tr>
            {% for meal in user_meals %}
                <tr> 
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.time }}</td>
                    <td>
                        <a class="btn btn-sm btn-info btn-block" href="/fooditem/{{ meal.item_id }}">
                        Details</a>
                         <a class="btn btn-sm btn-danger btn-block" href="/deletefooditem/{{ meal.item_id }}">
                        Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </table>

            <h3>Symptom History</h3>
              <table class="table table-bordered">
               <tr> 
                    <th>Description</th>
                    <th>Rating</th>
                    <th>When</th>
                    <th>Options</th>
                </tr>
            {% for symptom in user_symptoms %}
                <tr> 
                    <td>{{ symptom.description }}</td>
                    <td>{{ symptom.rating }}</td>
                    <td>{{ symptom.time }}</td>
                     <td>
                         <a class="btn btn-sm btn-danger btn-block" href="/deletesymptom/{{ symptom.symptom_id }}">
                        Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
          
        </div>
        <footer class="footer">
        </footer>
    </div>
</body>
 
</html>