{% extends "base.html" %}
{% block content %}

        <table class="table">
            <tr align="center">
                <td>
                    <form method=post action="{{ url_for('new_item') }}">
                        <input type="hidden" name="back_url" value="index">
                        <button class="btn btn-raised btn-primary">New Food Item</button>
                    </form>
                </td>
                 <td>
                    <form method=post action="{{ url_for('new_symptom') }}">
                        <input type="hidden" name="back_url" value="index">
                        <button class="btn btn-raised btn-primary">New Symptom</button>
                    </form>
                </td>
            </tr>
        </table>

        <div>
            <h3>Recent Food History</h3> 
            <a class="btn btn-xs btn-raised btn-primary" href="/fooditems">View All</a>
              <table class="table table-striped table-hover">
               <tr> 
                    <th>Name</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            {% for meal in user_meals %}
                <tr> 
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.time }}</td>
                    <td align="right">
                        <a class="btn btn-sm btn-info" href="/fooditem/{{ meal.item_id }}">
                        Details</a>
                        <form method=post action="{{ url_for('delete_item') }}">
                            <input type="hidden" value="{{ meal.item_id }}" name="item_id">
                            <input type="hidden" value="{{ meal.time }}" name="item_time">
                            <button type="submit" class="btn btn-sm btn-danger" href="/deleteitem">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>

            <h3>Recent Symptom History</h3>
            <a class="btn btn-xs btn-raised btn-primary" href="/symptoms">View All</a>
              <table class="table table-striped table-hover">
               <tr> 
                    <th>Description</th>
                    <th>Time</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            {% for symptom in user_symptoms %}
                <tr> 
                    <td>{{ symptom.description }}</td>
                    <td>{{ symptom.time }}</td>
                    <td>{{ symptom.rating }}</td>
                     <td align="right">
                        <form method=post action="{{ url_for('delete_symptom') }}">
                            <input type="hidden" value="{{ symptom.symptom_id }}" name="symptom_id">
                            <input type="hidden" value="{{ symptom.time }}" name="symptom_time">
                            <button type="submit" class="btn btn-sm btn-danger" href="/deletesymptom">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
          
        </div>
        <!-- <footer class="footer">
             <div class="ui-widget">
         <p>Type "a" or "s"</p>
         <label for="automplete-1">Tags: </label>
         <input id="automplete-1">
      </div>

           
        </footer> -->



        <!-- <script type=text/javascript>
        //   $(function() {
        //     $('#btnSearch').bind('click', function() {
        //       $.getJSON('localhost:5000/autocomplete', {
        //         a: $('input[name="search"]').val()
        //       }, function(data) {
        //         $(".test").text(data.result);
        //       });
        //       return false;
        //     });
        //   });
        // </script> -->


{% endblock %}