<!DOCTYPE html>
<html lang="en">
 
 <head>
    <title>EatWell</title>

    <script src="../static/js/jquery.min.js"></script>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
   
  </head>
 
<body>
 
   <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/logout">Sign Out</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">EatWell</h3>
    </div>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    <div>
        <h3>Users Table</h3>
       <table class="table table-bordered">
        {% for user in users %}
            <tr> 
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </table>

        <h3>Food Items Table</h3>
         <table class="table table-bordered">
        {% for item in food_items %}
            <tr> 
                <td>{{ item.item_id }}</td>
                <td>{{ item.name }}</td>
            </tr>
        {% endfor %}
        </table>

        <h3>Times Table</h3>
         <table class="table table-bordered">
        {% for time in times %}
            <tr> 
                <td>{{ time.time_id }}</td>
                <td>{{ time.date }}</td>
                <td>{{ time.time }}</td>
            </tr>
        {% endfor %}
        </table>

        <h3>Eats Relationship Table</h3>
         <table class="table table-bordered">
            <tr> 
                <td>User ID</td>
                <td>Food Item ID</td>
                <td>Time ID</td>
            </tr>
        {% for eat in eats %}
            <tr> 
                <td>{{ eat.user_id }}</td>
                <td>{{ eat.item_id }}</td>
                <td>{{ eat.time_id }}</td>
            </tr>
        {% endfor %}
        </table>


        <h3>Meals associated with current user</h3>
          <table class="table table-bordered">
        {% for meal in user_meals %}
            <tr> 
                <td>{{ meal.item_id }}</td>
                <td>{{ meal.name }}</td>
            </tr>
        {% endfor %}
        </table>
      
    </div>


        
       
    
 
 
        <footer class="footer">
        </footer>
    </div>
</body>
 
</html>