{% extends "base.html" %}
{% block content %}


    <div class="jumbotron jumbo">    

      <h2>New Item</h2>
        <form method=post action="{{ url_for('add_item') }}">
        <div class="form-group">
          <input type="name" name="input_food_item" id="input_food_item" class="form-control" placeholder="Food Item" required autofocus>
        </div>
        <div class="form-group">
          <input type="name" name="input_ingr" id="input_ingr" class="form-control" placeholder="Ingredients" required>  
        </div>
        <div class="form-group">
          <div id="timepicker" class="input-append">
            <input name="input_time" data-format="hh:mm:ss" type="text" readonly></input>
            <span class="add-on">
              <button class="btn btn-xs">Time</button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div id="datepicker" class="input-append">
            <input name="input_date" data-format="yyyy-MM-dd" type="text" readonly></input>
            <span class="add-on">
              <button class="btn btn-xs">Date</button>
            </span>
          </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Add Item</button>
      </form>

{% endblock %}
