<!DOCTYPE html>
<html lang="en">
 
 <head>
    <title>EatWell</title>

    <script src="../static/js/jquery.min.js"></script>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    
   
  </head>
 
<body>
 
   <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/logout">Sign Out</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">EatWell</h3>
    </div>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    <div><h2>New Symptom</h2></div>

    <div>
        <form class="form-signin" method=post action="{{ url_for('add_symptom') }}">
        <label for="input_symptom" class="sr-only">Symptom</label>
        <input type="name" name="input_symptom" id="input_symptom" class="form-control" placeholder="Symptom" required autofocus>
        <label for="input_rating" class="sr-only">Rating</label>
        <input type="name" name="input_rating" id="input_rating" class="form-control" placeholder="Rating" required autofocus>  
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Symptom</button>
      </form>
    </div>
        <footer class="footer">
        </footer>
    </div>
</body>
 
</html>