{% extends "base.html" %}
{% block content %}





<div class="jumbotron jumbo">    

  <h2>New Symptom</h2>
  <form method=post action="{{ url_for('add_symptom') }}">
    <!-- <label for="input_symptom" class="sr-only">Symptom</label> -->
    <div class="form-group">
        <select name="input_symptom" class="form-control">
          <option>Select Symptom</option>
          {% for symptom in symptoms %}
            <option>{{ symptom.description }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <select name="input_rating" class="form-control">
          <option>Select Rating</option>
          <option>Mild</option>
          <option>Moderate</option>
          <option>Severe</option>
        </select>
    </div>
    <div class="form-group">
      <label for="datetime">Date and Time yyyy-MM-dd hh:mm</label>
      <input type="text" class="form-control" name="datetime" id="datetime" placeholder="yyyy-MM-dd hh:mm">
    </div>
    <!-- <div class="form-group">
      <div id="timepicker" class="input-append">
        <input name="input_time" data-format="hh:mm:ss" type="text" readonly></input>
        <span class="add-on">
          <button class="btn btn-xs">Time</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div id="datepicker" class="input-append">
        <input name="input_date" data-format="yyyy-MM-dd" type="text" readonly></input>
        <span class="add-on">
          <button class="btn btn-xs">Date</button>
        </span>
      </div>
    </div> -->

    <button class="btn btn-lg btn-primary" type="submit">Add Symptom</button>
  </form>
    
</div>




{% endblock %}