{% extends "base.html" %}
{% block content %}
  
<div class="jumbotron jumbo">
  <h2>Sign Up</h2>
  <form method=post action="{{ url_for('dosignup') }}">
     <div class="form-group">
      <input type="name" name="input_name" id="input_name" class="form-control" placeholder="Name" required autofocus>
     </div>
     <div class="form-group">
    <input type="email" name="input_email" id="input_email" class="form-control" placeholder="Email address" required autofocus>
    </div>
     <div class="form-group">
    <input type="password" name="input_password" id="input_password" class="form-control" placeholder="Password" required>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
  </form>
</div>
{% endblock %}